.elements{
    color: black;
    position: relative;
    width: 300px;
    margin: 10px;
    height: 130px;
    text-align: left;
    margin-top: 30px;
    background-color: #f7db6c;
    border-radius: 10px;
    border: 1px solid black; 
    display: inline-block;
    -webkit-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4);
}

.element{
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

.element.image {
    width: 91px; /* .elements{height} * 0.7 */
    background-size: cover;
    background-position: center;
    border-radius: 9px 0 0 9px;
    margin-right: -2px;
}

.element.game-title {
    z-index: 3;
    margin: 0 0 0 -3px;
    width: 209px;    
    border-radius: 0 8px 8px 0;
    border-left: 1px solid darkgoldenrod;
}

.element.game-title h4{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-left: 2px;
    margin-left: 5px;
    padding: 5px 5px 5px 5px;
    background-color: whitesmoke;
    width: 188px;
    border-top-right-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    border: 1px solid gray;
}

.element.overlap {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    background: transparent; 
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .2));
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, .2)); 
    background: -moz-linear-gradient(transparent, rgba(0, 0, 0, .2));  
    background: linear-gradient(transparent, rgba(0, 0, 0, .2)); 
}

.element.overlap:hover {
    cursor: pointer;
    background: transparent; 
    background: -webkit-linear-gradient(transparent, rgba(255,255,255, .05)); 
    background: -o-linear-gradient(transparent, rgba(255,255,255, .05)); 
    background: -moz-linear-gradient(transparent, rgba(255,255,255, .05));
    background: linear-gradient(transparent, rgba(255,255,255, .05));
}

.element.game-title p{
    color: black;
    margin-left: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}